<ul class="list-group">
	<li *ngFor="let hero of heroes; 
				let i = index; let c = count; let e = even; let o = odd; let f = first; let l = last; 
				trackBy: trackByFn;" class="list-group-item list-group-item-action" 
		(click)="onSelect(hero)" [class.selected]="hero === selectedHero">
		<span>Index: [ {{i}} ]</span>
		<span>First Row: [ {{f}} ]</span>
		<span>Count: [ {{c}} ]</span>
		<span>Even Row: [ {{e}} ]</span>
		<span>Odd Row: [ {{o}} ]</span>
		<span>Last Row: [ {{l}} ]</span>
		<span>{{hero.name}}</span>
		
		<span class="badge badge-default badge-pill">{{hero.id}}</span>
		<button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
	</li>
</ul>

<div *ngIf="selectedHero">
	<h2>{{selectedHero.name | uppercase}} is my hero</h2>
	<button (click)="gotoDetail()">View Details</button>
</div>

<div class="error" *ngIf="error">{{error}}</div>
<div>
	<label>Hero name:</label><input #heroName>
	<button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
